*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea,label,select,option,img{font-family:inherit; cursor: pointer;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import 'fonts';

.header {

	&__body {
	}
}
.main {
}
.name-user {
	display: none;

	&__body {
	}

	&__form {
	}

	&__title {
	}

	&__input {
	}

	&__submit {
	}
}
.form {
}
.greetings {
	display: none;
	&__body {
	}

	&__title {
	}

	&__subtitle {
	}

	&__btn {
	}
}
.btn {
}
.film-genre {
	display: none;
	&__body {
	}

	&__title {
	}

	&__input {
	}

	&__item {

		&_drama {
		}

		&_adventure {
		}

		&_fantastic {
		}

		&_comedy {
		}

		&_action {
		}

		&_animation {
		}

		&_history {
		}

		&_criminal {
		}

		&_fantasy {
		}

		&_thriller {
		}

		&_horror {
		}
	}

	&__btn {
	}
}
.title {
}
.release-year {
	display: none;
}
.realese-year {
	
	&__body {
	}

	&__title {
	}

	&__form {
	}

	&__submit {
	}

	&__btn {
	}
}
.selected-films {
	display: none;
	&__body {
	}

	&__title {
	}

	&__row {
	}

	&__colum {
	}

	&__img {
	}

	&__btn {
	}
}
.information {
	display: none;
	&__body {
	}

	&__title {
	}

	&__img {
	}

	&__year {
	}

	&__country {
	}

	&__director {
	}

	&__actors {
	}

	&__plot {
	}

	&__trailer {
	}

	&__facts {
	}
	&__btn {
		
	}
}

.active-block {
	display: block;
}

 




 
