*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea,label,select,option,img{font-family:inherit; cursor: pointer;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import 'fonts';

body {
	font-family: "CenturyGothic"; 
	background-color: #1c1a1a;
}
.header {
	background-color: rgb(44, 44, 44);
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		h1{
			color: rgb(255, 30, 0);
			font-size: 46px;
			font-weight: 800;
			padding: 25px 0px;
			text-align: center;
		}
	}
}
.main {
	background-color: #1c1a1a;
}


.name-user {
	display: none;
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		padding: 97px 0px 93px 0px;
	}

	&__box {
		border: 10px solid rgba(255, 255, 0);
		border-radius: 10px;
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}

	&__title {
		color: rgba(255, 255, 0);
    	font-size: 24px;
		padding: 100px 0px 25px;
	}

	&__input {
		font-size: 18px;
		font-weight: 700;
		border: 5px solid rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		text-align: center;
	}

	&__submit {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 50px 0px 75px;
	}
	&__submit:hover {
		background-color: rgb(255, 30, 0);
	}
}
 

.greetings {
	display: none;
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		color: rgba(255, 255, 0);
    	font-size: 24px;
		padding: 100px 0px 25px;
	}

	&__subtitle {
		color: rgba(255, 255, 0);
    	font-size: 18px;
		padding: 0px 0px 25px;
	}

	&__btn {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 50px 0px 285px;
	}
	&__btn:hover {
		background-color: rgb(255, 30, 0);
	}
}
 
.film-genre {
	display: none;
	margin: 0 auto;
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		color: rgba(255, 255, 0);
    	font-size: 24px;
		padding: 100px 0px 25px;
	}

	&__input {
		color: rgba(255, 255, 0);
    	font-size: 18px;
		font-weight: 800;
		padding: 25px 0px 25px;
		text-transform: uppercase;
		label {
			padding: 0px 15px 0px 0px;
		}
		label:hover {
			color: rgb(255, 30, 0);
		}
	}

	&__item {
		 display: none;
	}

	&__btn {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 50px 0px 261px;
	}

	&__btn:hover {
		background-color: rgb(255, 30, 0);
	}
}
.title {
	color: yellow;
    font-size: 24px;
}
.release-year {
	display: none;
	margin: 0 auto;
}
.realese-year {
	
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		color: rgba(255, 255, 0);
    	font-size: 24px;
		padding: 100px 0px 25px;
	}

	&__option {
		background-color: rgb(44, 44, 44);
		color: rgba(255, 255, 0);
		font-size: 18px;
		border-radius: 5px;
		margin: 25px 0px 25px;
	}

	&__submit {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 100px 15px 205px;
	}

	&__submit:hover {
		background-color: rgb(255, 30, 0);
	}

	&__btn {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
	}

	&__btn:hover {
		background-color: rgb(255, 30, 0);
	}
}
.selected-films {
	display: none;
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		
	}

	&__title {
		text-align: center;
		padding: 50px 0px;
		color: rgba(255, 255, 0);
	}

	&__title-movie {
		color: rgb(133, 128, 128);
		font-size: 16px;
		padding: 25px 0px 25px 0px;
		
	}

	&__row {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 100%;
		justify-content: center;
	}

	&__colum {
		width: 33.333%;
	}

	&__img {
		margin: 0px 0px 20px 0px;
		height: 570px;
		overflow: hidden;
		position: relative;
		img {
			max-width: 100%;
			object-fit: cover;
			object-position: center;
			position: absolute;
			top: 0;
			left: 0;
		}
		img:hover {
			box-shadow: 0 0 20px rgba(255, 255, 0, 0.7);
		}
	}
	&__btn {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 0px 0px 35px 0px;
	}

	&__btn-none {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 10px 0 278px 140px;
	}

	&__btn:hover {
		background-color: rgb(255, 30, 0);
	}
}
.information {
	display: none;
	max-width: 1400px;
	margin: 0 auto;
	&__body {
		max-width: 1400px;
		margin: 0 auto;
	}

	&__title {
		color: rgba(255, 255, 0);
    	font-size: 24px;
		padding: 45px 0px 45px 45px;
		 
	}

	&__img {
		margin: 0px 0px 25px 45px;
		height: 570px;
		overflow: hidden;
		position: relative;
		img{
			max-width: 100%;
			object-fit: cover;
			object-position: center;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&__year {
		font-size: 18px;
		color: rgb(255, 225, 225);
		margin: 0px 0px 20px 45px;
	}

	&__country {
		font-size: 18px;
		color: rgb(255, 225, 225);
		margin: 0px 0px 20px 45px;
	}

	&__rating {
		font-size: 18px;
		color: rgb(255, 225, 225);
		margin: 0px 0px 20px 45px;
	}

	&__director {
		font-size: 18px;
		color: rgb(255, 225, 225);
		margin: 0px 0px 20px 45px;
	}

	&__actors {
		font-size: 18px;
		color: rgb(255, 225, 225);
		margin: 0px 0px 20px 45px;
	}

	&__plot {
		font-size: 18px;
		color: rgb(255, 225, 225);
		margin: 0px 0px 20px 45px;
	}

	&__trailer {
		margin: 0px 0px 20px 45px;
		div{
			font-size: 18px;
			color: rgb(255, 225, 225);
			margin: 0px 0px 15px 0px;
		}
	}

	&__btn {
		font-size: 18px;
		font-weight: 800;
		background-color: rgba(255, 255, 0);
		border-radius: 5px;
		padding: 5px 20px;
		margin: 20px 0px 35px 45px;
	}
	&__btn:hover {
		background-color: rgb(255, 30, 0);
	}
}

.footer {
	background-color: rgb(44, 44, 44);
	&__body {
		max-width: 1400px;
		margin: 0 auto;
		h2 {
			color: rgb(255, 30, 0);
			font-size: 16px;
			padding: 25px 0px;
			text-align: center;
			a {
				color: rgb(255, 30, 0);
			}
		}
	}
}


.active-block {
	display: block;
}
 




 
